
.vs/SmartBuffer/copilot-chat/f886da11/sessions/0297a924-a093-4b91-8e27-4ba8639301c0

.vs/SmartBuffer/copilot-chat/f886da11/sessions/60707017-5865-4bf6-a9aa-b9f30c26ba33

.vs/SmartBuffer/CopilotIndices/17.14.1653.19549/CodeChunks.db

.vs/SmartBuffer/CopilotIndices/17.14.1653.19549/CodeChunks.db-shm

.vs/SmartBuffer/CopilotIndices/17.14.1653.19549/CodeChunks.db-wal

.vs/SmartBuffer/CopilotIndices/17.14.1653.19549/SemanticSymbols.db

.vs/SmartBuffer/CopilotIndices/17.14.1653.19549/SemanticSymbols.db-shm

.vs/SmartBuffer/CopilotIndices/17.14.1653.19549/SemanticSymbols.db-wal

.vs/SmartBuffer/DesignTimeBuild/.dtbcache.v2

.vs/SmartBuffer/FileContentIndex/27ced932-0f97-4a4b-a736-611c3bbd7637.vsidx

.vs/SmartBuffer/FileContentIndex/2b32deae-51f6-4462-8f9c-41f03ce22364.vsidx

.vs/SmartBuffer/FileContentIndex/36302cbe-ac7f-45c3-a2d1-1857bae658bd.vsidx

.vs/SmartBuffer/FileContentIndex/8ddf6a24-8c17-4f20-85d5-e6f175f70337.vsidx

.vs/SmartBuffer/FileContentIndex/a8297eb7-5600-44ad-b443-c40fb23160cd.vsidx

obj/Debug/net8.0-windows/

obj/Release/net8.0-windows/
/.vs/SmartBuffer/FileContentIndex/036f2115-f5e3-440d-8283-a46e6a1b6a8e.vsidx
/.vs/CopilotSnapshots/24A9970293A0914B8E274BA8639301C0
/.vs/ProjectEvaluation
/.vs/SmartBuffer/CopilotIndices/18.6.39603.9996
/.vs/SmartBuffer/FileContentIndex
